# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
*.jks
*.keystore
*.ap_
*.apk
*.aab

# iOS
.bundle/
Pods/
*.xcworkspace
*.xcarchive

# IDE/System
.idea/
.vscode/
.DS_Store
*.swp
